<div class="full">
  <div class="container">
    <h1 class="bg-info d-inline p-1 rounded">LogIn</h1>
    <form [formGroup]="LogInForm" class="mt-2">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address :</label>
        <input
          type="email"
          formControlName="email"
          required
          class="form-control"
          id="exampleInputEmail1"
        />

        <div
          *ngIf="email && email.invalid && (email.dirty || email.touched)"
          class="is-invalid"
        >
          <div *ngIf="email.errors?.['required']" class="text-danger">
            *enter your email
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password :</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <button
        type="submit"
        [disabled]="LogInForm.invalid"
        class="btn btn-primary mb-1 form-control"
        (click)="submitLogInForm()"
      >
        Submit
      </button>
    </form>
    <a (click)="createAccount()" class="aha">Create an account!</a>
  </div>
</div>
